{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Parent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.name }}</td>
                <td>{% if category.parent != null %}
                        {{ category.parent.name}}
                    {% endif %}

                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('category_show', { 'id': category.id }) }}">show</a>
                    <a class="btn btn-info" href="{{ path('category_edit', { 'id': category.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}">Create a new category</a>

{% endblock %}
