<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/bundles/app/bootstrap/css/bootstrap.css">
            <link rel="stylesheet" href="/bundles/app/bootstrap/css/font-awesome.css">
            <style>
                .starter-template {
                    padding: 40px 15px;
                }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">JustCoded-Test</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{{ path('homepage') }}">Home</a>
                        </li>
                        <li>
                            <a href="{{ path('category_index') }}">Categories</a>
                        </li>
                        <li>
                            <a href="{{ path('product_index') }}">Products</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="starter-template">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}
            <script src="/bundles/app/jQuery/jquery.min.js"></script>
        {% endblock %}
    </body>
</html>
