{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <h2> Existing photo:</h2>
        {% for file in product.documents %}
            <div id="{{file.id }}">
                <a href='{{ asset(uploadsDirectory ~ file.name) }}'>
                    <img src="{{ asset(uploadsDirectory ~ file.name) }}" alt="{{ file.name }}" height="100px">
                </a>
                <button type="button" class="btn btn-warning" data-file-id="{{file.id }}">Delete Photo</button>
            </div>
        {% endfor %}
        <input class="btn btn-success" type="submit" value="Edit" />
    {{ form_end(edit_form) }}


    <a href="{{ path('product_index') }}">Back to the list</a>

    {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- The main application script -->
    <script src="/bundles/app/admin/edit.js"></script>

    <script language="javascript">
        $("button[data-file-id]").deleteFile(
                {
                    url: '{{ path('ajax_delete_file') }}'
                }
        );
    </script>

{% endblock %}
