{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Photo</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>
                    {% for file in product.documents %}
                        <a href='{{ asset(uploadsDirectory ~ file.name) }}'>
                            <img src="{{ asset(uploadsDirectory ~ file.name) }}" alt="{{ file.name }}" height="100px">
                        </a>
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        {% for category in product.categories %}
                            <li> {{ category.name }} </li>
                        {% endfor %}
                    </ul>

                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                    <a class="btn btn-info" href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create a new product</a>

{% endblock %}
